
<!-- battleview -->
<div ng-control="BattleViewCtrl" class="container-fluid battle-background-container" 
     style="background: url({{ levelBackgroundImage }}) no-repeat; background-size: cover; min-height: 900px;">
  <div class="container">
    <!-- fellowship player and opponent faceoff -->
    <div class="row">
    <!-- left column start -->
      <div class="col-sm-5 col-md-5 battle-player">
      <!-- progress bar -->
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ player.health }}%;">
        </div>
      </div>
      <!-- player card -->
        <div class="thumbnail battle-description">
          <div class="caption"> 
            <h3>Player Name: {{ player.name }}</h3>
            <p>Player Health: {{ player.health }}</p>
            <p>Player strength: {{ player.weapon.damage }}</p>
            <p>Player's Weapon: {{ player.weapon.name }}</p>
          </div>
          <img ng-src="{{ player.img }}" alt="{{ player.name }}" class="battle-img">
        </div>
      </div>

      <div class="col-sm-2 col-md-2 battle-button">
        <button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="attack()"> Attack! </button>         
      </div>

      <!-- right column start -->
      <div class="col-sm-5 col-md-5 battle-player">
        <!-- progress bar -->
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{ monster.health }}%;">
          </div>
        </div>
        <!-- enemy card -->
        <div class="thumbnail battle-description">
          <div class="caption battle-caption">
            <h3>Monster Name: {{ monster.name }}</h3>
            <p>Monster Health: {{ monster.health }}</p>
            <p>Monster Strength: {{ monster.strength }}</p>
            <p> Monster's Weapon: {{ monster.weapon }}</p>

          </div>
          <img ng-src="{{ monster.img }}" alt="{{ monster.img }}" class="battle-img">
        </div>
      </div>
    </div>
  </div>  
</div>


