<!-- choose player view -->
  <div ng-control="ChoosePlayerCtrl" class="jumbotron">
    <h1>{{ level }}</h1>
    <p>{{ level.message }}</p>
  </div>

  <h2>Who shall you send forth to battle?</h2>

  <div class="row" ng-repeat="player in players">
  <!-- card -->
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="{{ player.img }}" alt="{{ player.name }}">
        <div class="caption">
          <h3>{{ player.name }}</h3>
          <p>{{ player.health }}</p>
          <p>{{ player.strength }}</p>
          <p>{{ player.weapon }}</p>
          <p><a href="#" class="btn btn-success" role="button">Send Forth!</a></p>
        </div>
      </div>
    </div> 
  <!-- end card -->