  
<!-- choose player view -->
  <div ng-control="ChoosePlayerCtrl" class="jumbotron">
    <h1>You've Reached Level {{ level + 1}}!</h1>
    <p>{{ levelMessage }}</p>
  </div>

  <h2>Who shall you send forth to battle?</h2>

  <div class="row" ng-repeat="fellow in fellowship">
  <!-- card -->
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img ng-src="/images/sprites/GoodGuys/{{ fellow.img }}" alt="{{ fellow.name }}">
        <div class="caption">
          <h3>{{ fellow.name }}</h3>
          <p>Health: {{ fellow.health }}</p>
          <!-- <p>{{ fellow.strength }}</p> -->
          <p>Weapon: {{ fellow.weapon }}</p>
          <p><a ng-href="#!/BattleView" ng-click="sendForth(fellow)" class="btn btn-success" role="button">Send Forth!</a></p>
        </div>
      </div>
    </div> 
  <!-- end card -->
