<div class="jumbotron">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <h1>{{currentPLayer.name}} Died!!</h1>
      <p>Who's next??</p>

      <div class="row">
        <!-- card -->
        <div class="col-sm-6 col-md-4" ng-repeat="player in players">
          <div class="thumbnail">
            <img ng-src="/images/sprites/GoodGuys/{{ player.img }}" alt="{{ player.name }}">
            <div class="caption">
              <h3>{{ player.name }}</h3>
              <p>{{ player.health }}</p>
              <p>{{ player.weapon }}</p>
              <p>{{ player.damage }}</p>
            </div>
            <div class="row">
              <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="sendForth(player)">Send Forth!</button>
              </div>
            </div>
          </div>
        </div> 
      <!-- end card -->
      </div>
            
    </div>
  </div>
</div>