* {
  border-radius: 0 !important;
}

html, body {
	height: 100%;
	width: 100%;
}

h1, h2, h3, h4, h5, h6, li, ul, ol, a, p {
	margin: 0;
	padding: 0;
} 

li {
	list-style-type: none;
}

.battle-player {
	margin-top: 4em;
}

.battle-button {
	margin-top: 20em;
	text-align: center;
}

.battle-description {
	min-height: 600px;
	background-color: transparent;
	border: none !important;
}

.battle-caption {
	background-color: lightgrey;
}

.battle-img {
	bottom: 0;
}